.inform {
  @apply w-full
;}

.informContainer {
  @apply container mx-auto

  /* XL */
  xl:pb-24

  /* MD */
  md:pb-16

  /* XXS */
  xxs:pb-10
;}

.informTitle {
  @apply text-3xl text-gray-50 font-medium text-center

  /* MD */
  md:text-4xl

  /* XXS */
  xxs:text-xl
  xxs:pt-0
;}

.informDescription {
  @apply pt-5 text-gray-500 text-center

  /* XS */
  xs:text-lg

  /* XXS */
  xxs:text-base
;}

.informArticles {
  @apply flex justify-center
;}

.informItems {
  @apply pt-10 grid gap-10

  /* SM */
  sm:grid-cols-2
;}

.informItem {
  @apply flex flex-col items-center p-5 border rounded border-border bg-action

  /* XS */
  xs:h-64

  /* XXS */
  xxs:h-auto
;}

.informSubTitle {
  @apply text-xl pt-5 font-medium text-white

  /* XS */
  xs:text-base
  xs:pt-5

  /* XXS */
  xxs:text-base
  xxs:pt-0
;}

.informText {
  @apply text-center max-w-96 text-gray-500 

  /* XS */
  xs:text-base

  /* XXS */
  xxs:text-sm
;}

.informImage { 
  @apply 

  /* XS */
  xs:w-[85px]

  /* XXS */
  xxs:w-[70px]
;}
