.inform {
  @apply w-full pt-10 pb-10
  
  /* Adaptive md */
  md:pb-20

;}

.informContainer {
  @apply container mx-auto
;}

.informGrid {
  @apply pt-10 grid gap-6

  /* Adaptive sm */
  sm:grid-cols-3

;}

.informCard {
  @apply  flex flex-col items-center gap-2
;}

.informTitle {
  @apply text-xl pt-5 font-medium text-white text-center

  /* Adaptive xxs */
  xxs:text-base
  
;}

.informText {
  @apply text-center max-w-96 text-gray-500

  /* Adaptive xxs */
  xxs:text-sm

;}

.informMap {
  @apply rounded-lg mx-auto mt-10

  /* Adaptive 2xl */
  2xl:w-[1535px]

  /* Adaptive lg */
  lg:w-[935px]

  /* Adaptive md */
  md:w-[695px]

  /* Adaptive sm */
  sm:w-[575px]

  /* Adaptive xs */
  xs:w-[330px]

  /* Adaptive xxs */
  xxs:w-[260px]
  
;}

.informTitleMain {
  @apply text-3xl pt-10 text-gray-50 font-medium

  /* Adaptive md */
  md:text-4xl

  /* Adaptive xxs */
  xxs:text-xl

;}

.informDescription {
  @apply pt-5 text-gray-500

  /* Adaptive xs */
  xs:text-lg

  /* Adaptive xxs */
  xxs:text-base
;}

.informImage {
  @apply
  
  /* Adaptive xxs */
  xxs:w-[70px]

;}