.inform {
  @apply w-full pt-10 
  
  /* Adaptive md */
  md:pb-20

;}

.informContainer {
  @apply container mx-auto
;}

.informTitle {
  @apply text-3xl pt-10 text-gray-50 font-medium text-center

  /* Adaptive md */
  md:text-4xl

  /* Adaptive xxs */
  xxs:text-xl

;}

.informDescription {
  @apply pt-5 text-gray-500 text-center

  /* Adaptive xs */
  xs:text-lg

  /* Adaptive xxs */
  xxs:text-base
;}

.informArticles {
  @apply flex justify-center
}

.informItems {
  @apply pt-10 grid gap-10

  /* Adaptive sm */
  sm:grid-cols-2

;}

.informItem {
  @apply flex flex-col items-center bg-action p-5  h-64 
;}

.informSubTitle {
  @apply text-xl pt-5 font-medium text-white

  /* Adaptive xs */
  xs:text-base

  /* Adaptive xxs */
  xxs:text-base
  
;}

.informText {
  @apply text-center max-w-96 text-gray-500 

   /* Adaptive xs */
   xs:text-base

  /* Adaptive xxs */
  xxs:text-sm

;}

.informImage { 
  @apply 
  /* Adaptive xs */
  xs:w-[85px]

  /* Adaptive xxs */
  xxs:w-[70px]

;}