.feedback {
  @apply w-full pt-10 pb-10 md:pb-20
;}

.feedbackContainer {
  @apply container mx-auto
;}

.feedbackTitle {
  @apply text-2xl mt-10 mb-10 md:text-6xl text-gray-50 font-medium

  /* Adaptive sm */
  sm:mb-5

;}

.feedbackButton {
  @apply w-full max-h-[50px] px-4 py-2 bg-indigo-600 rounded-md text-gray-50 font-medium text-center

  /* Adaptive sm */
  sm:w-auto

;}

.feedbackWarning {
  @apply max-w-[1100px] text-[11px] pt-3 text-center leading-tight block

  /* Adaptive sm */
  sm:pt-0
  sm:pb-5
  sm:text-base

;}

.feedbackContent {  
  @apply grid grid-cols-5
  
  /* Adaptive sm */
  sm:grid-cols-1

;}

.feedbackInput {
  @apply w-[230px] h-[50px] pl-3 pr-3 text-center bg-opacity-30 bg-black

  /* Adaptive sm */
  sm:w-[575px]
  sm:mb-3

;}

.feedbackInputArea {
  @apply w-[230px] min-h-[50px] max-h-[400px] pl-3 pr-3 pt-9 text-center bg-opacity-30 bg-black

  /* Adaptive sm */
  sm:w-[575px]
  sm:min-h-[100px]
  sm:mb-10
  
;}