.feedback {
  @apply w-full pt-10 pb-36
;}

.feedbackContainer {
  @apply container mx-auto
;}

.feedbackContent {
  @apply w-full justify-between items-start gap-10 mt-16

  /* 2XL */
  xl:flex

;}

.feedbackInfo {
  @apply

  2xl:w-5/12

  /* 2XL */
  xl:w-6/12
  xl:mt-8
  xl:p-10
  xl:pl-20

  /* XXS */
  xxs:w-full

;}

.feedbackTitle {
  @apply uppercase font-medium text-white

  /* 2XL */
  xl:text-5xl
  xl:mb-5

  /* XXS */
  xxs:text-2xl
  xxs:mb-3

;}

.feedbackDescription {
  @apply  text-gray-500 

  /* 2XL */
  xl:text-xl
  xl:mb-0
  xl:leading-7

  /* XXS */
  xxs:mb-5

;}

.feedbackForm {
  @apply grid grid-cols-1 p-10 pt-7 bg-action

  /* 2XL */
  xl:w-6/12

  /* XXS */
  xxs:w-full

;}

.feedbackSubTitle {
  @apply text-3xl font-medium pb-5
;}

.feedbackInput {
  @apply h-14 mb-5 bg-opacity-30 bg-black

  /* 2XL */
  xl:text-left
  xl:pl-5

 /* XXS */
  xxs:text-center
  xxs:pl-0

;}

.feedbackInputNano {
  @apply grid

  /* 2XL */
  xl:grid-cols-2 
  xl:gap-5

  /* XXS */
  xxs:grid-cols-1
  xxs:gap-0

;}

.feedbackInputDouble {
  @apply h-14 mb-5 bg-opacity-30 pl-5 bg-black 

  /* 2XL */
  xl:text-left
  xl:pl-5

  /* XXS */
  xxs:text-center
  xxs:pl-0

;}

.feedbackArea {
  @apply min-h-[100px] max-h-[400px] h-14 mb-3 bg-opacity-30 pl-5  pr-5 pt-4 bg-black

  /* 2XL */
  xl:text-left

  /* XXS */
  xxs:text-center
 
;}

.feedbackPolice {
  @apply text-gray-500 w-full text-xs
;}

.feedbackSubmit {
  @apply max-h-[50px] px-4 mt-3 py-2 rounded-md font-medium text-center cursor-pointer text-gray-50 bg-indigo-600 hover:bg-hover
  
  /* 2XL */
  xl:w-4/12

  /* XXS */
  xxs:w-full

;}