.feedbackForm {
  @apply grid grid-cols-1 p-10 pt-7 bg-action

  /* 2XL */
  xl:w-6/12

  /* XXS */
  xxs:w-full
;}

.feedbackSubTitle {
  @apply text-3xl font-medium pb-5
;}

.feedbackInput {
  @apply h-14 mb-5 bg-opacity-30 bg-black

  /* 2XL */
  xl:text-left
  xl:pl-5

 /* XXS */
  xxs:text-center
  xxs:pl-0
;}

.feedbackInputNano {
  @apply grid

  /* 2XL */
  xl:grid-cols-2 
  xl:gap-5

  /* XXS */
  xxs:grid-cols-1
  xxs:gap-0
;}

.feedbackInputDouble {
  @apply h-14 mb-5 bg-opacity-30 pl-5 bg-black 

  /* 2XL */
  xl:text-left
  xl:pl-5

  /* XXS */
  xxs:text-center
  xxs:pl-0
;}

.feedbackArea {
  @apply min-h-[100px] max-h-[400px] h-14 mb-3 bg-opacity-30 pl-5  pr-5 pt-4 bg-black

  /* 2XL */
  xl:text-left

  /* XXS */
  xxs:text-center

;}

.feedbackPolice {
  @apply text-gray-500 w-full text-xs
;}

.feedbackSubmit {
  @apply max-h-[50px] px-4 mt-3 py-2 rounded-md font-medium text-center cursor-pointer text-gray-50 bg-indigo-600 hover:bg-hover
  
  /* 2XL */
  xl:w-4/12

  /* XXS */
  xxs:w-full
;}