.header {
  @apply w-full py-6
;}

.headerContainer {
  @apply container mx-auto flex items-center justify-between
;}

.headerLeft {
  @apply flex items-center gap-10
;}

.headerBrand {
  @apply text-gray-400
}

.nav {
  @apply hidden 

  /* MD */
  md:block

;}

.navMenu {
  @apply flex items-center gap-5
;}

.navItem {
  @apply inline-flex
;}

.navLink {
  @apply hover:text-indigo-600
;}

.headerMarketItem {
  @apply flex items-baseline gap-5
;}

.headerMarketLink {
  @apply px-4 py-2 text-center border rounded border-[#191919] bg-[#121117]

  /* MD */
  md:block

  /* XSS */
  xxs:hidden

;}
