.header {
  @apply w-full py-6 border-b border-gray-800
;}

.headerContainer {
  @apply container mx-auto flex items-center justify-between
;}

.headerLeft {
  @apply flex items-center gap-10
;}

.nav {
  @apply hidden 

  /* Adaptive md */
  md:block

;}

.navMenu {
  @apply flex items-center gap-5
;}

.navItem {
  @apply inline-flex;
;}

.navLink {
  @apply text-gray-200 hover:text-indigo-600
;}

.headerMarketItem {
  @apply flex items-baseline gap-5
;}

.headerMarketLink {
  @apply px-4 py-2 text-gray-200 border border-gray-800 bg-white/5 rounded-md text-center hover:bg-indigo-600

  /* Adaptive md */
  md:block

  /* Adaptive xxs */
  xxs:hidden

;}

