.assortmentContainer {
  @apply mx-auto
    
  /* 2XL */
  2xl:pt-0

  /* XL */
  xl:pb-24

  /* MD */
  md:container
  md:py-6
  md:pb-16
  
  /* XXS */
  xxs:pb-10
;}

.assortmentTitle {
  @apply pt-8 text-gray-50 font-medium

  /* MD */
  md:text-6xl

  /* XXS */
  xxs:text-3xl
;}

.assortmentDescription {
  @apply text-lg text-gray-500 

  /* MD */
  md:pt-8

  /* SM */
  sm:pt-5

  /* XS */
  xs:pt-5

  /* XXS */
  xxs:pt-5
  xxs:text-base
;}

/* КОНТЕЙНЕР КАРТОЧКИ ТОВАРА */

.assortmentCard {
  @apply grid pt-8 pb-10 grid-cols-4

  /* 2XL */
  2xl:grid-cols-4
  2xl:gap-y-20

  /* LG */
  lg:grid-cols-3

  /* MD */
  md:grid-cols-3

  /* SM */
  sm:grid-cols-2
  sm:gap-8

  /* XS */
  xs:grid-cols-2
  xs:gap-8

  /* XXS */
  xxs:grid-cols-2
  xxs:gap-5
  xxs:pb-0
;}

/* КАРТОЧКА ТОВАРА */

.assortmentCardImage {
  @apply rounded-md
;}

.assortmentCardTitle {
  @apply pt-2 text-gray-50

  /* MD */
  md:text-2xl

  /* XXS */
  xxs:text-lg
;}

.assortmentCardDescription {
  @apply pt-1 max-h-7 text-gray-400

  /* 2XL */
  2xl:text-sm

  /* XXS */
  xxs:text-xs
;}

.assortmentCardPrice {
  @apply text-xl text-gray-400

  /* 2XL */
  2xl:pb-5

  /* XS */
  xs:pt-2

  /* XXS */
  xxs:pt-7
  xxs:pb-3
;}

.assortmentInfoPrice {
  @apply text-sm text-gray-400
;}
