.assortmentContainer {
  @apply mx-auto 

  /* Adaptive md */
  md:container
  
;}

.assortmentTitle {
  @apply pt-8 text-gray-50 font-medium

  /* Adaptive md */
  md:text-6xl

  /* Adaptive xxs */
  xxs:text-3xl

;}

.assortmentDescription {
  @apply text-lg text-gray-500 

  /* Adaptive md */
  md:pt-8

  /* Adaptive sm */
  sm:pt-5

  /* Adaptive xs */
  xs:pt-5

  /* Adaptive xxs */
  xxs:pt-5
  xxs:text-base

;}

/* КОНТЕЙНЕР КАРТОЧКИ ТОВАРА */

.assortmentCard {
  @apply grid pt-8 pb-10 grid-cols-4

  /* Adaptive 2xl */
  2xl:grid-cols-4
  2xl:gap-y-20

  /* Adaptive lg */
  lg:grid-cols-3

  /* Adaptive md */
  md:grid-cols-3

  /* Adaptive sm */
  sm:grid-cols-2
  sm:gap-8

  /* Adaptive xs */
  xs:grid-cols-2
  xs:gap-8

  /* Adaptive xxs */
  xxs:grid-cols-2
  xxs:gap-5
  xxs:pb-0

;}

/* КАРТОЧКА ТОВАРА */

.assortmentCardImage {
  @apply rounded-md
;}

.assortmentCardTitle {
  @apply pt-2 text-gray-50

  /* Adaptive md */
  md:text-2xl

  /* Adaptive xxs */
  xxs:text-lg

;}

.assortmentCardDescription {
  @apply pt-1 max-h-7

  2xl:text-sm

  /* Adaptive xxs */
  xxs:text-xs

;}

.assortmentCardPrice {
  @apply text-xl

  2xl:pb-5

  /* Adaptive xs */
  xs:pt-2

  /* Adaptive xxs */
  xxs:pt-7
  xxs:pb-3

;}