.intro {
  @apply w-full pt-6 

  /* 2XL */
  2xl:pb-28

  /* MD */
  md:py-24
  md:pb-16
  
  /* XXS */
  xxs:pb-10
;}

.introContainer {
  @apply container mx-auto
;}

.introContent {
  @apply  gap-4 

  /* MD */
  md:pb-0
;}

.introList {
  @apply flex justify-between
;}

.introLeft {
  @apply w-full flex items-start flex-col gap-10
;}

.introTitle {
  @apply text-3xl font-medium text-gray-50
  
  /* MD */
  md:text-6xl
;}

.introActions {
  @apply flex flex-col w-full gap-5

  /* SM */
  sm:w-auto 
  sm:flex-row
;}

.introText {
  @apply text-lg text-gray-500
;}

.introBottom {
  @apply flex items-start flex-col gap-14

  /* MD */
  md:w-4/5
;}

.introActionItem {
  @apply inline-flex text-center
  
  /* SM */ 
  sm:w-auto
;}

.introActionPrimary {
  @apply w-full px-4 py-2 font-medium rounded bg-indigo-600 border border-border
;}

.introActionOutline {
  @apply w-full px-4 py-2 font-medium rounded bg-action border border-border
;}

.introImage {
  @apply
  
  /* XL */
  xl:block

  /* MD */
  xxs:hidden
;}
