.intro {
  @apply w-full py-6 bg-no-repeat bg-[length:1000px_1000px] bg-[left_95%_top_-50%] xl:bg-gun md:h-screen md:py-16
;}

.introContainer {
  @apply container mx-auto
;}

.introContent {
  @apply grid pt-8 pb-10 gap-4 grid-cols-1 md:grid-cols-[55%,45%]
;}

.introLeft {
  @apply w-full flex items-start flex-col gap-10
;}

.introTitle {
  @apply text-3xl text-gray-50 font-medium md:text-6xl
;}

.introActions {
  @apply flex flex-col w-full gap-5

  /* Adaptive sm */
  sm:w-auto 
  sm:flex-row

;}

.introText {
  @apply text-lg text-gray-500
;}

.introBottom {
  @apply md:w-4/5 flex items-start flex-col gap-14

  /* Adaptive sm */
  sm:w-full
  
;}

.introActionItem {
  @apply inline-flex w-full 
  
  /* Adaptive */ 
  sm:w-auto

;}

.introActionPrimary {
  @apply w-full px-4 py-2 bg-indigo-600 rounded-md text-gray-50 font-medium text-center

  /* Adaptive */
  sm:w-auto

;}

.introActionOutline {
  @apply w-full px-4 py-2 font-medium text-gray-200 text-center border border-gray-800 bg-white/5 rounded-lg

  /* Adaptive */
  sm:w-auto

;}