.assortment {
  @apply w-full 
;}

.assortmentContainer {
  @apply container mx-auto
    
  /* 2XL */
  2xl:pt-0

  /* MD */
  md:py-6
  
  /* XXS */
  xxs:pb-10
;}

.assortmentTitle {
  @apply text-3xl font-medium text-gray-50

  /* MD */
  md:text-6xl
;}
