.assortment {
  @apply w-full 
  
  /* 2XL */
  2xl:pt-0

  /* MD */
  md:py-6
;}

.assortmentContainer {
  @apply container mx-auto

  /* XXS */
  xxs:pb-0
;}

.assortmentTitle {
  @apply text-3xl font-medium text-gray-50

  /* MD */
  md:text-6xl
;}
