.assortmentContainer {
  @apply mx-auto 

  /* Adaptive md */
  md:container
  
;}

.assortmentContent {
  @apply grid pt-8 pb-10 gap-20 grid-cols-4

  /* Adaptive 2xl */
  2xl:grid-cols-4
  2xl:gap-20

  /* Adaptive lg */
  lg:grid-cols-3

  /* Adaptive md */
  md:grid-cols-3

  /* Adaptive sm */
  sm:grid-cols-2
  sm:gap-8

  /* Adaptive xs */
  xs:grid-cols-2
  xs:gap-8

  /* Adaptive xxs */
  xxs:grid-cols-2
  xxs:gap-8

;}

.assortmentTitle {
  @apply pt-8 text-gray-50 font-medium

  /* Adaptive md */
  md:text-6xl

  /* Adaptive xxs */
  xxs:text-3xl

;}

.assortmentText {
  @apply text-lg text-gray-500 

  /* Adaptive md */
  md:pt-8

  /* Adaptive sm */
  sm:pt-5

  /* Adaptive xs */
  xs:pt-5

  /* Adaptive xxs */
  xxs:pt-5
  xxs:text-base

;}

.assortmentTitleCard {
  @apply pt-2 text-gray-50

  /* Adaptive md */
  md:text-xl

  /* Adaptive xs */
  xs:text-lg

  /* Adaptive xxs */
  xxs:text-lg

;}

.assortmentTextCard {
  @apply pt-1 max-h-7

  /* Adaptive xxs */
  xxs:text-xs

;}

.assortmentPriceCard {
  @apply text-xl

  /* Adaptive xs */
  xs:pt-2

  /* Adaptive xxs */
  xxs:pt-7
  xxs:pb-3

;}

.assortmentImageCard {
  @apply rounded-md
;}

.assortmentPriceInfo {
  @apply text-sm
;}